{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  type="text/css" rel="stylesheet" href="{% static 'css/nil.css' %}"/>
    <title> General </title>
</head>
<body>
    <div class="general">
        <div class="head">
            <h1>
            izi inf
        </h1>

        <nav>
            <a class= "piker" href="/"> Главная </a>
            <a class= "piker" href="/problems2"> Решение задач с сайта ACMP.ru</a>
        </nav>
        </div class="text_2">
            <p class="text_2">
                Здравствуйте, меня зовут Максим, данный сайт создан исключительно для проверки моих навыков программирования. 
                Если вы найдёте какие-либо ошибки, напишите, пожалуйста, мне на почту или в телеграм. 
                Представленные решения задач необязательно являются самыми оптимальными из возможных, однако я старался сделать код максимально читаемым и легким в осознании. 
                Благодарю за понимание!
            </p>
            <p class="text_2">
                Как вы можете со мной связаться:
                <br>
                телеграм: <a href="https://t.me/pumpumal"> t.me/pumpumal </a> 
                <br> 
                почта: maxgoonfuture@gmail.com
            </p>
        </div>
</body>
</html>

